/* ------------------------- FONTS ------------------------------------------- */
@font-face {
    font-family: GloriaHallelujah;
    src: url(../assets/fonts/GloriaHallelujah-Regular.woff);
}

/* ------------------------- COLORS ------------------------------------------- */
:root {
    --yellow: #F8DB27;
    --black: #000000;
}

/* ------------------------- GENERAL ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/the-simpsons-clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

body.first-screen {
    overflow: hidden;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px; 
}

body.first-screen #logo {
    max-width: 300px;
}

.logo {
    max-width: 180px;
    height: auto;
}

button {  
    padding: 0.1em 0.25em;
    width: 17em;
    height: 4.2em;
    background-color: var(--yellow);;
    border: 0.08em solid var(--black);
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}

button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 11em;
    height: 2.5em;
    background-color: var(--yellow);
    border-radius: 0.2em;
    font-family: 'GloriaHallelujah';
    font-size: 1.5em;
    color: var(--black);
    border: 0.08em solid var(--black);
    box-shadow: 0 0.4em 0.1em 0.019em var(--black);
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 var(--black);
  }
  
  button span:not(hover) {
    transition: all 1s;
  }

/* ------------------------- EPISODE PAGE ------------------------------------------- */
main.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--yellow);
    border: 2px solid var(--black);
    padding: 24px 20px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.contentBoxHeader {
    width: 100%;
    display: flex;
    justify-content: end;
}

.labelsBox {
    display: flex;
    gap: 8px;
}

.labelsBox h6 {
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 8px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'GloriaHallelujah';
    font-size: 12px;
    color: var(--black);
}

.contentBoxMain {
    border-top: 2px solid black;
    padding-top: 16px;
}

h1 {
    font-family: 'GloriaHallelujah';
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
    color: var(--black);
    margin-bottom: 12px;
}

.episodeImg {
    width: 100%;
    border: 1px solid var(--black);
}

.infoBox {
    margin: 22px 0;
    display: flex;
    flex-direction: column;
}

p { 
    font-family: 'GloriaHallelujah';
    font-size: 16px;
    line-height: 1.7;
    color: var(--black);
}

/* ------------------------- RESPONSIVE ------------------------------------------- */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        max-width: 450px;
    }

    h1 {
        font-size: 20px;
    }
}